@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<Claim>

@{

}

<div class="text-center">
    <h1 class="display-4">Claims</h1>

    <div class="row claims-row">
        <div class="row row-cols-1 row-cols-md-3 g-4">

            @foreach (var claim in Model)
            {
                <div class="col">
                    <div class="card claims-card">
                        <div class="card-body claims-button">
                            <h4 class="d-grid">
                            </h4>

                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="text-nowrap">
                                    @claim.Description
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
